/*-----------------|tablets|----------------*/

@media (min-width: 768px) {

    .me{
        width: 15%;
    }

    .details {
        display: table;
        margin: 0 auto;
    }

    .center-ho{
        width: 50%;
        height: auto;
        margin-top: 20px;
    }

    .text-center{
        margin-top: 50px;
    }

    .form-control{
        max-width: 80%;
        margin: auto;
        margin: 50px auto 20px auto;
    }
}

/*-----------------|desktop + ipad pro|----------------*/

@media (min-width: 992px) {

    .me{
        width: 20%;
    }

    .francesca{
        margin-bottom: 20px;
    }

    .secondtext{
        margin-bottom: 80px;
    }

    .hello{
        font-size: 60px;
    }

    .intro{
        font-size: 30px;
    }

    h1{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 60px;
    }

    .lists{
        margin-top: 50px;
    }

    .spacing{
        margin-bottom: 50px;
    }

    h6{
        font-size: 30px;
    }

    .grey{
        font-size: 20px;
        max-width: 80%;
        margin: auto;
    }

    .card-body{
        font-size: 20px;
    }

    .send{
        font-size: 50px;
        padding: 0 20px 0 20px;
    }

    .form-control{
        height: 60px;
        font-size: 30px;
    }
}

/*-----------------|larger desktop|----------------*/

@media (min-width: 1200px) {

    .home{
        overflow: hidden;
    }

    .francesca{
        font-size: 60px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .secondtext{
        font-size: 15px;
    }

    .homepic{
        width: 150px;
        height: auto;
        border-radius: 50%;
        margin: auto;  
    }

    .circles a {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        font-size: 15px;
        z-index: 30;
        position: relative;
        display: inline-block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
        line-height: 120px;
        margin-left: 20px;
    }

    .circles{
        text-align: center;
    }

    .me{
        width: 200px;
    }

    h1{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h6{
        font-size: 20px;
    }

    .grey{
        font-size: 15px;
    }

    .card{
        width: 100px;
        margin-bottom: 15px;
        font-size: 10px;
    }

    .photo img{
        width: 200px;
        margin-top: 50px;
    }
    

    .order{
        margin-top: 0px;
    }

    .form-control{
        height: 30px;
        font-size: 20px;
        max-width: 50%;
        margin-top: 20px;
    }

    .text-center{
        margin-top: 5px;
    }

    .send{
        font-size: 20px;
        padding: 0 20px 0 20px;
    }

    .hello{
        font-size: 40px;
    }

    .intro{
        font-size: 20px;
        text-align: center;
    }
}