/*-----------------|mobile|----------------*/

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700&family=Playball&display=swap');

/*-----------------GENERAL----------------*/

body{
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
    padding: 20px;
}

h1{
    font-family: 'Playball', sans-serif;
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
}

h4{
    font-size: 20px;
}

p{
    word-wrap: break-word;
}

.lists{
   text-align: center;
}

.order{
    margin-top: 50px;
}

.logo{
    width: 120px;
}

/*-----------------nav----------------*/

.nav-link{
    color: black;
    text-align: center;
}

.hvr-bounce-in:hover {
    color: white;
}

.select{
    color: white;
}

.nav{
    position: fixed;
    width: 100%;
}

/*-----------------footer----------------*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.37);
    color: white;
    text-align: center;
    z-index: 200;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    margin-top:10px;
    }

    .social-links li a i:hover {
    background-color: #000000;
}

/*-----------------HOMEPAGE----------------*/

.home{
    margin: 0px;
    background-color: rgb(2, 2, 2); 
}

canvas{
    z-index: 1;
    position: fixed;
    padding: 0;
    filter: opacity(50%);
}

.homepic{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: auto;
}

.francesca{
    color: white;
}

.secondtext{
    text-align: center;
    padding: 10px;
    color: gray;
    margin-bottom: 60px;
}

.line{
        font-size: small;
        margin-top: 25px;
    }

.circles a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 15px;
    z-index: 30;
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 70px;
    bottom: 60px;
}

/*-----------------ABOUT ME----------------*/

.navbar-about{
    background-color: rgb(145, 211, 122);
}

.about{
    background-color: rgba(146, 211, 122, 0.322);
}

.me{
    width: 40%;
}

.image{
    margin-top: 10px;
    text-align: center;
}

.hello{
    background-color: rgb(145, 211, 122);
}

.intro{
    margin: 30px;
}

.photo img{
    background-color: inherit;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 20px;
}

.card{
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
}

.card-body{
    text-align: center;
}

/*-----------------EDUCATION----------------*/

.edu{
    background-color: rgba(179, 173, 211, 0.267);
}

.navbar-edu{
    background-color:rgb(179, 173, 211);
}

.marker{
    font-size: 40px;
    color: rgba(255, 0, 0, 0.795);
}

/*-----------------WORK EXPERIENCE----------------*/

.work{
    background-color: rgba(118, 160, 224, 0.295);
}

.navbar-work{
    background-color:rgb(118, 161, 224);
}

.pin{
    font-size: 40px;
    color: rgba(0, 0, 255, 0.801);
}

.details{
    text-align: left;
    margin-bottom: 50px;
}
/*-----------------SKILLS----------------*/

.skills{
    background-color: #5cb9b454;
}

.navbar-ski{
    background-color: #5cb9b5;
}

.cen-skills{
    text-align: center;
}

.sk-icon{
    font-size: 30px;
    color: #000000;
    padding: 20px;
}

.grey{
    color: rgb(133, 112, 112);
    font-size: 13px;
}

/*-----------------CONTACT----------------*/

.contact{
    background-color: rgba(228, 140, 166, 0.404);
}

.navbar-con{
    background-color:rgb(228, 140, 166);
}

.form-control{
    margin-bottom: 10px;
}

form label{
    color: red;
    display: block;
    text-align: center;
}

.send{
    background-color: rgb(228, 140, 166);
    font-family: 'Playball', sans-serif;
    font-size: 30px;
}
/*-----------------MAPS----------------*/

#map{
    height: 200px;
    width: 90%;
    margin: 0 auto 0 auto;
    border: solid black 2px;
}